// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}
text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: 1;
}

.children:hover rect.child {
  fill: #bbb;
}




#sunburst{
  position: relative;
}


#explanation {
  position: relative;
  top: 210px;
  left: 235px;
  width: 140px;
  text-align: center;
  color: #FFF;
  z-index: 1000;
}

#percentage {
  font-size: 2.5em;
}
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
  
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
  
}

input[type=range]{
    -webkit-appearance: none;
    
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
    
}

input[type=range]:focus {
    outline: none;
    
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
    
}